<%- include("partials/header.ejs") %>

<h1><%= lists[currentListIndex][0] %> List</h1>

<ul>
  <% lists[currentListIndex][1].forEach((task, index) => { %>
  <li>
    <form action="delete_task" method="POST">
      <button type="submit" name="index" value="<%= index %>">X</button>
    </form>
    <form action="check_task" method="POST">
      <input type="hidden" name="index" value="<%= index %>" />
      <input type="checkbox" onChange="this.form.submit()" id="item-<%= index %>" <% if(task[1]) { %> checked <% } %> />
      <label for="item-<%= index %>"><%= task[0] %></label>
    </form>
  </li>
  <% }) %>
</ul>

<form action="add_task" method="POST">
  <input type="text" name="taskName" placeholder="New Task" />
  <button type="submit">+</button>
</form>

<%- include("partials/footer.ejs") %>
